.App {
  max-width: 600px;
  margin: auto;
  font-family: sans-serif;
  padding: 20px;
}

.mood-form select, .mood-form input {
  padding: 5px;
  margin-right: 10px;
}

.mood-list ul {
  list-style: none;
  padding: 0;
}

.mood-list li {
  margin-bottom: 10px;
  padding: 5px;
  border-left-width: 5px;
}
